body {
    margin: 0;
    padding: 0;
    background-color: hsl(335, 69%, 94%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 32rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 1.7rem;
    position: relative;

}

.omelette {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 8.7%;
    width: 90%; 
    border-radius: 10px;
}

.header {
    margin-top: 14.5rem;
    
}

.young-serif {
    font-family:"Young Serif", serif;
    font-weight: 400;
}

h1 {
    margin-bottom: 10px;
    color: hsl(24, 5%, 18%);
}

 p {
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 2.8rem;
}

li {
    font-family: "Outfit", sans-serif;
    font-size: 12px;
}

#prep {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
    margin-left: 1rem;
    margin-bottom: 0;
    padding-top: 0;
}

.preparation {
   background-color: hsl(330, 100%, 98%);
   border-radius: 10px;
   padding: 1px 8px 8px 8px;
   margin-bottom: 1.5rem;
}

.preparation ul li {
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: hsl(30, 10%, 34%);
}

.time {
    font-weight: 700;
}

h3 {
    color: hsl(14, 45%, 36%);
}

.ingredients ul{
    padding-left: 1.5rem;
}

.ingredients ul li {
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: hsl(30, 10%, 34%);
}

.line {
    margin-top: 30px;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
    margin-bottom: 1.5rem;
}
.instructions {
    padding-right: 5px;
}

.instructions ol {
    padding-left: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    
}

.instructions ol li {
    padding-left: 1rem;
    margin-bottom: 0.8rem;
    color: hsl(30, 10%, 34%);
    line-height: 20px;
}

.instructions ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
.instruct {
    font-weight: 700;
}

.nutrition p {
    font-size: 13px;
}

.nutritional-facts {
    line-height: 3em;
    margin-left: 2em;

}

.facts {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    margin-right: 14em;
    text-align: left;
}

.tables {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0;
}
.rule {
    height: 1px;
    background-color: hsl(0, 0%, 86%);
}

.attribution {
    text-align: center;
    color: hsl(24, 5%, 18%);
    margin: auto 30px 30px 30px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
 }

 a {
    text-decoration: none;
    color: hsl(24, 100%, 40%);
    font-weight: 600;
 }

 a:hover {
    color: hsl(54, 93%, 46%);
 }

 @media (max-width:576px) {
    

    .facts {
        margin-right: 120px;
        margin-left: 20px;
    }
 }

 @media (max-width:375px) {
    .container {
        display: block;
        border-radius: 0;
        margin-left: 20px;
        margin-right: 20px;

    }

    .omelette {
        width: 100%;
        border-radius: 0;
        top: 5%;
        margin-bottom: 0;
        display: block;
    }

    .facts {
        margin-right: 50px;
        margin-left: 20px;
    }

    .header {
        margin-top: 12rem;
    }

 }

